.Card{
    width: 300px;
    height: 480px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 1px black;
    overflow: hidden;
}

.upper-container {
    height: 100px;
    background: linear-gradient(to right top, #880777, #0d0912, #160d1b, #1d1022, #741379);
}

.image-container img{
    background: rgb(102, 4, 89);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 5px;
    transform: translate(95px,45px)
}
.img{
    border: 2px solid  linear-gradient(to right top, #030303, #0d0912, #160d1b, #1d1022, #271128);
    
}

.lower-container{
    margin-top: 60px;
    height: 300px;
    background: rgb(255, 255, 255);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.lower-container h3,h4,p{
        margin: 0;
        padding: 0;
}

.lower-container h3{
    color: #427379;
    font-weight: 600;
    font-size: 3.5rem;
}

.lower-container h4{
    color: #427379;
    font-weight: 700;
    font-size: 1.2rem;
}
.button{
    margin: 1rem;
    margin-top: 0;
    color: #845EC2;
    font: bold;
    background-color: white;
    border: 2px solid #4C3375;
    padding: 0.4rem;
    border-radius: 6px;
    transition-duration: 0.2s;
    animation: ease-in-out;
}

button:hover{
    background-image: linear-gradient(to right top, #591486, #510aa8, #160d1b, #1d1022, #271128);
    transform: scale(1.0);
    border:none;
    color: white;
}