.Register {
    margin-top: 10rem;

    .inline {
        display: inline;
    }
    
    .title {
        margin-bottom: 0;
    }

    img {
        width: 95%;
    }
    
    .form {
        margin-top: 4rem;
        border-radius: 10px;
    
            .formField {
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                margin-bottom: 0.75rem;
                color: blue;

                .invalid {
                    border: 1px solid #ff0000;
                    border-radius: 4px;
                    
                    animation: shake 300ms;

                    @keyframes shake {
                     25% {transform: translateX(4px); }
                     50% { transform: translateX(-4px); }
                     75% { transform: translateX(4px); }
                    }
                }
                

                .valid {
                    border-color: green;
                }
            }

            .btn {
                margin-top: 1.5rem;
                background-image: linear-gradient(to left, #92a2ba, #8890ad, #817d9f, #7d6a8e, #79577a);

                btn:hover{
                    background-color: linear-gradient(to right top, #030303, #0d0912, #160d1b, #1d1022, #271128);
                    transform: scale(1.2);
                    border:none;
                    color: white;
                }
            }
    }
}