.loginField {
padding: 10px;
    margin: 10px 10px;
    border: 2px solid black;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    justify-items: center;
}

@media screen and (min-width:400px) {
    .logoImage {
            background-image: url('../../img/cardHome.jpg');
            background-size:contain;
            display: flex;
            justify-content: center;
            position: relative;
            height: 100%;
            width: 100%;
        }
}

.iconColor{
    color:#6D98BA;
}