body {
  font-family: 'Segoe UI',
      Tahoma,
      Geneva,
      Verdana,
      sans-serif;
background-image: linear-gradient(to left bottom, #3e0324, #39062b, #320a31, #280e37, #1c123b, #111539, #061636, #001732, #001628, #00131c, #000e11, #030505);
  color: #070027;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}
